
body {
  padding: 20px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
h1, h2, p, ul, li {
  font-family: 'Montserrat', sans-serif;
}
h3 {
  text-align: center;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding-right: 20px;
  padding-left: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #0099FF;
}
